@model UnitViewModel
@{
    var available = Constant.UnitStatus.AVAILABLE;
}
<div class="modal fade" id="modal-unit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.UnitCode</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 c-detail">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Project :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.ProjectName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">UnitCode :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.UnitCode</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Model Type :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.ModelTypeName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Unit Type :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.UnitTypeName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Area :</div>
                        @if (Model.AreaIncrease.AsDecimal() <= 0)
                        {
                            <div class="col-md-8 col-xs-6 l-detail">@Model.Area Sq.m.</div>
                        }
                        else
                        {
                            <div class="col-md-8 col-xs-6 l-detail">@($"{Model.Area} ({Model.AreaIncrease})") Sq.m.</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Selling Price :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.SellingPrice.ToStringNumber() Baht</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Discount :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.Discount.ToStringNumber() Baht</div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-4 col-xs-6 l-header">Net Price :</div>
                        <div class="col-md-8 col-xs-6 l-detail">@Model.SpecialPrice.ToStringNumber() บาท</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header" style="color:#cf8a0c;">Booking+Contract :</div>
                        <div class="col-md-8 col-xs-6 l-detail" style="color:#cf8a0c;">@Model.BookingAmount.ToStringNumber() บาท</div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-4 col-xs-6 l-header" style="color:red;">Status :</div>
                        <div id="div-unit-status" class="col-md-8 col-xs-6 l-detail" style="color: red;">@Model.UnitStatusName</div>
                    </div>
                </div>
            </div>
            @if (Model.UnitStatusID == available)
            {
                <div class="modal-footer justify-content-center" style="text-align:center;">
                    <button unit-id="@Model.ID" type="button" data-action="btn-save-unit-bookint" class=" btn btn-warning text-white">จอง</button>
                </div>
            }
        </div>
    </div>
</div>